.tushu{
    width: 760px;
    /*height: 600px;*/
    margin: 0 auto;
    margin-top: 26px;
    /*border: 1px solid black;*/
}
.tushu p{
    width: 700px;
    font-size: 20px;
    font-weight: bold;
    color: #424242;
    /*border: 1px solid grey;*/
    float: left;
    margin-left: 10px;
    margin-bottom: 4px;
}
#red{
    font-weight:bold;
    color: #CE0000;
}
.fenshu{
    height: 24px;
    line-height: 24px;
    float: right;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    color: #9C9C9C;
    display: inline-block;
    /*border: 1px solid red;*/
    margin-right: 10px;
    margin-bottom: 4px;
}
.tushu hr{
    width: 760px;
    float: left;
}
.tushu ul li
{
    float: left;
    margin: 4px 32px;
}
.tushu ul li ul li{
    float: none;
    margin: 0;
    margin-top: 10px;
}
.tushu ul li ul li a{
    color: #424242;
}
.tushu ul li ul li a:hover{
    text-decoration: underline;
    color: #FF6300;
}
.tushu ul li ul .writer{
    color: #9C9C9C;
    margin-top: 18px;
}
.tushu ul li ul .sales{
    color: #9C9C9C;
    text-decoration: line-through;
    display: inline-block;
}
.tushu ul li ul .lowsales{
    color: #FF0000;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 24px;
}